@mixin titulos {
font-size: 2.5rem;
padding: 4rem ;
margin:1rem;
text-align: center;
}

@mixin reset{
margin: 0;
padding: 0;
box-sizing: border-box;
   
 }

 @mixin listaFooter{

    list-style: none;
    text-align: center;
    padding: 0;
 }

 @mixin rowFotos{
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
 }

 @mixin tamañoParrafos{
   font-size: $parrafonoticias;
    color: rgb(0, 0, 0);
 }




@mixin cardTitulo{
   font-size: 1.3rem ;
   margin-bottom: var(--bs-card-title-spacer-y);

}

@mixin titulosNoticias{
font-size: 2.5rem;
padding: 4rem ;
margin:1rem;
text-align: center;
}
