@import "_variables.scss";
@import "_fotos.scss";
@import "atp.scss";

 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body{
    height:100vh;
    width: 100vw;
  }
  
   header{
   
    width: 100%;
    background-color: $colorgris;
 
    .navbar-brand {
      padding-top: var(--bs-navbar-brand-padding-y);
      padding-bottom: var(--bs-navbar-brand-padding-y);
      margin-right: var(--bs-navbar-brand-margin-end);
      font-size: 2rem;
      color: rgb(194, 194, 194);
      text-decoration: none;
      white-space: nowrap;
    }
    

 
     }
  
    main{
   
      width: 100%;
       
    }

    footer{
    
    width: 100%;
    background-color: $colorgris;
    height: auto;

       


      .row-footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 1rem;
        align-items: top;
        }
      

      .footer-col{
       
        padding: 1rem ;
        margin: 1rem;
        
      }
      

      .titulo-footer{
        font-size: 1.1rem;
        text-align: center;

      }

     
     
     .navbar-nav-footer{
      list-style: none;
      text-align: center;

    }

    ol, ul {
     padding: 0;
  }

    }


  
  .textosNegritas {
   font-weight: bold;
  }
  
    
  .centrar{
    text-align: center; 
   }

  

/*carousel*/


.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: opacity .15s ease;
}







  .align-items-center {
    align-items:flex-end!important;
  }
  
  
  
  .col-lg-6 {
    flex: 0 0 auto;
    width: 40%;
    
  }


  
  
  
  .row {
    --bs-gutter-x:0;
    --bs-gutter-y:0;
    display: flex;
    flex-direction: row;
   justify-content: space-around;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    
  }

  

  
  .align-items-center {
    align-items: flex-end!important;
  
  .mt-3 {
    margin-top: 1rem!important;
  
  .align-items-center {
    align-items: center!important;
  
  .justify-content-center {
    justify-content: center!important;
  
  .flex-row {
    flex-direction: column!important;
  
  .h-100 {
    height: 100%!important;
  
  .d-flex {
    display: flex!important;
  
  *, ::after, ::before {
    box-sizing: border-box;
  }
}
  }
}
  }
}
  }
}
  
  
 
  
   .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
       --bs-gutter-x: 1.5rem;
       --bs-gutter-y: 0;
       width: 100%;
       padding-right: calc(var(--bs-gutter-x) * .5);
       padding-left: calc(var(--bs-gutter-x) * .5);
       margin-right: auto;
       margin-left: auto;
   }
   
  

  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: $colorgris;

   
}
.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: 1rem;
  font-weight: var(--bs-nav-link-font-weight);
  color:  rgb(194, 194, 194);
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
  
  .overflow{
    overflow-x: hidden!important;
  }
  
  .btn.disabled, .btn:disabled, fieldset:disabled .btn {
    color: var(--bs-btn-disabled-color);
    pointer-events: none;
    background-color:$colorgris;
    border-color: var(--bs-btn-disabled-border-color);
    opacity: var(--bs-btn-disabled-opacity);
  }
  
  
  .active>.page-link, .page-link.active {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color:$colorgris;
    border-color:rgb(88, 87, 87);
  }
  
  .page-link {
    position: relative;
    display: block;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: var(--bs-pagination-font-size);
    color:rgb(88, 87, 87);
    text-decoration: none;
    background-color: var(--bs-pagination-bg);
    border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  
  
  
  /*noticias*/

  VER ESTOOOOOOOO
  .mb-4 {
    margin-bottom: 1.5rem!important;
    margin-left: 4rem;
    margin-right: 4rem;
  }
    
  #divNoticias{
    border:solid 1px;
    border-radius: 1rem;
    height: 60%;
  }







  /*Botón noticias*/
  
  .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: rgb(88, 87, 87);
    --bs-btn-border-color:  rgb(88, 87, 87);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg:  rgb(88, 87, 87);
    --bs-btn-hover-border-color:  rgb(88, 87, 87);
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(88, 87, 87);
    --bs-btn-active-border-color:  rgb(88, 87, 87);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg:  rgb(88, 87, 87);
    --bs-btn-disabled-border-color:   rgb(88, 87, 87);
  }
  


   /*paginación*/
  hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    opacity: .25;
  }
  
  




  
   
  /*redes*/
  
  .socialBar{
    right: 0;
    top:40%;
    font-size: 1.5rem;
    display: flex!important;
    flex-direction: column!important;
    align-items: flex-end;
    z-index: 1;
    .icon:hover{
      padding-right: 3rem;
      
    }
  }




  
  /*mediaqueries*/


  /*de 320 para arriba mostraeme esto*/

  @media screen and (min-width: 320px) {   
    
  
  .container{
    height: auto;
    
    }
    .col-lg-6{
      
      width: 100%;
  
    }

}

  
   
  /*de 320 para abajo mostrame esto*/
 

  @media screen and (max-width: 320px){
    #video-diez{
      width:290px;
     height:200px;
  }
   
  #video-nueve{
    width:290px;
    height:200px;
    }
   


    #video-ocho{
      width:290px;
     height:200px;
  }
   
  #video-siete{
    width:290px;
    height:200px;
    }
   
    #video-seis{
      width:290px;
      height:200px;
    }
   
    #video-cinco{
      width:290px;
      height:200px;
   
   
     }

    #video-cuatro{
      width:290px;
     height:200px;
  }
   
  #video-tres{
    width:290px;
    height:200px;
    }
   
    #video-dos{
      width:290px;
      height:200px;
    }
   
    #video-uno{
      width:290px;
     height:200px;
   
   
     }

     .carousel-control-next, .carousel-control-prev {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 5%;
      padding: 0;
      color: #fff;
      text-align: center;
      background: 0 0;
      border: 0;
      opacity: .5;
      transition: opacity .15s ease;
  }

 /* footer .row-footer {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    align-items: top;
  width: 100%;
  flex-direction: row;
  justify-content: center;

}

.footer-col{
margin-bottom: 30px;
width: 50%;
padding: 1rem;
}


.titulo-footer{
  font-size: 0.5rem;
  text-align:start ;*/


   .row-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem;
    align-items: top;
    flex-direction: column;
    }
  

  .footer-col{
   
    padding: 1rem ;
    margin: 1rem;
  }
  

  .titulo-footer{
    font-size: 1.1rem;
    text-align: center;

  }

 
 
 .navbar-nav-footer{
  list-style: none;
  text-align: center;

}

ol, ul {
 padding: 0;
}

  
}




  
  
 
  @media screen and (min-width: 576px){

  
        #video-diez{
          width:400px;
           height:300px;
          }
          
          #video-nueve{
           width:400px;
           height:300px;
         }
          
        
        
            #video-ocho{
             width:400px;
           height:300px;
          }
          
          #video-siete{
           width:400px;
           height:300px;
           }
          
            #video-seis{
             width:400px;
           height:300px;
            }
          
            #video-cinco{
             width:400px;
           height:300px;
          
          
             }
        
            #video-cuatro{
             width:400px;
             height:300px;
             }
          
          #video-tres{
           width:400px;
           height:300px;
            }
          
            #video-dos{
             width:400px;
             height:300px;
            }
          
            #video-uno{
             width:400px;
           height:300px;
          
          
             }

  }
 

  @media screen and (max-width: 768px) { 


    .justify-content-center {
        justify-content: flex-center!important;
    }
    .align-items-center {
        align-items: center!important;
    }
      
    .overflow{
      overflow-x: hidden!important;
    }

    .mb-4 {
      margin-bottom: 1.5rem!important;
      margin-left: 1rem;
      margin-right: 1rem;
    }

    footer .footer-col {
       padding: .5rem; 
       margin: .2rem; 
  }

  
  .titulo-footer{
    font-size: 0.75rem;
    text-align: center;

  }
  
     .socialBar {
         align-items: center;
        } 



  }


  /*de 768 para arriba mostrame esto*/

    @media screen and (min-width: 768px) { 
   
  
      .container{
      height: auto;
      
      }
    
        .col-lg-6{
        width: 50%;
      }
      .overflow{
        overflow-x: hidden!important;
      }
  
      .mb-4 {
        margin-bottom: 1.5rem!important;
        margin-left: 3rem;
        margin-right: 3rem;
      }
      
      #video-diez{
             width:650px;
            height:400px;
         }
        
         #video-nueve{
          width:650px;
          height:400px;
           }
         
    
    
           #video-ocho{
            width:650px;
            height:400px;
         }
         
         #video-siete{
          width:650px;
          height:400px;
           }
         
           #video-seis{
            width:650px;
            height:400px;
           }
         
           #video-cinco{
            width:650px;
            height:400px;
         
         
            }
    
           #video-cuatro{
            width:650px;
            height:400px;
            }
         
         #video-tres{
          width:650px;
          height:400px;
           }
         
           #video-dos{
            width:650px;
            height:400px;
           }
         
           #video-uno{
            width:650px;
            height:400px;
         
         
            }
       
        
            .carousel-control-next, .carousel-control-prev {
              position: absolute;
              top: 0;
              bottom: 0;
              z-index: 1;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 10%;
              padding: 0;
              color: #fff;
              text-align: center;
              background: 0 0;
              border: 0;
              opacity: .5;
              transition: opacity .15s ease;
          }
   
          .socialBar {
            position: fixed;
            right: 0;
            top: 40%;
            font-size: 1.5rem;
            display: flex!important;
            flex-direction: column!important;
            align-items: flex;
            z-index: 1;
            align-items: center;
        } 
        
      .flex-row {
        flex-direction: column!important;
    }
    }


  /*de 992 para arriba mostrame esto*/

    @media screen and (min-width: 992px) { 
 
 
  #video-diez{
    width:800px;
   height:500px;
}

#video-nueve{
  width:800px;
  height:500px;
  }



  #video-ocho{
    width:800px;
    height:500px;
}

#video-siete{
  width:800px;
  height:500px;
  }

  #video-seis{
    width:800px;
    height:500px;
  }

  #video-cinco{
    width:800px;
    height:500px;

   }

  #video-cuatro{
    width:800px;
    height:500px;
   }

#video-tres{
  width:800px;
  height:500px;
  }

  #video-dos{
    width:800px;
    height:500px;
  }

  #video-uno{
    width:800px;
    height:500px;

   }
  
  }


  /*de 1440 para arriba mostrame esto*/
  @media screen and (min-width: 1440px) { 
    #video-diez{
      width:1000px;
      height:500px;
  }
  
  #video-nueve{
    width:1000px;
    height:500px;
    }
  
  
  
    #video-ocho{
      width:1000px;
      height:500px;
  }
  
  #video-siete{
    width:1000px;
    height:500px;
    }
  
    #video-seis{
      width:1000px;
      height:500px;
    }
  
    #video-cinco{
      width:1000px;
      height:500px;
  
     }
  
    #video-cuatro{
      width:1000px;
      height:500px;
     }
  
  #video-tres{
    width:1000px;
    height:500px;
    }
  
    #video-dos{
      width:1000px;
      height:500px;
    }
  
    #video-uno{
      width:1000px;
      height:500px;
  
     }
    
    }
  


    /*de 2560 para arriba mostrame esto*/

    @media screen and (min-width: 2560px) { 
      #video-diez{
        width:1700px;
        height:700px;
    }
    
    #video-nueve{
      width:1700px;
      height:700px;
      }
    
    
    
      #video-ocho{
        width:1700px;
        height:700px;
    }
    
    #video-siete{
      width:1700px;
      height:700px;
      }
    
      #video-seis{
        width:1700px;
        height:700px;
      }
    
      #video-cinco{
        width:1700px;
        height:700px;
    
       }
    
      #video-cuatro{
        width:1700px;
        height:700px;
       }
    
    #video-tres{
      width:1700px;
      height:700px;
      }
    
      #video-dos{
        width:1700px;
        height:700px;
      }
    
      #video-uno{
        width:1700px;
        height:700px;
    
       }
      
      }
    